#root {
  max-width: 1280px;
  margin: 0 auto;
  /* This centers the container horizontally */
  padding: 2rem;
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4f4f4;
  /* Matches your HomePage background */
}
